{% extends 'base.html' %}
{% block title %} {{ block.super }} Delete Success {% endblock %}

{% block content %}
<h3 class="alert-danger">You are successfully delete the note!</h3>
<h3 class="alert-info">If you want create new note click this button</h3>
    <a href="{% url 'note_new' %}" class="btn btn-outline-success">New note</a>
<h3 class="alert-info">If you want view all your notes click this button</h3>
    <a href="{% url 'my_notes' %}" class="btn btn-outline-primary">My notes</a>
{% endblock %}