{% extends "base.html" %}

{% block title %}{{ block.super }}{{ note.title }}{% endblock %}

{% block content %}
<div class="card" id="note_detail">
<div class="card-body">
    <ul>
    <tr>
        <td><h2 class="card-title">{{ note.title }}</h2></td>
        <td><p class="card-text">{{ note.text }}</p></td>
        <td><p class="card-text">{{ note.category }}</p></td>
        <td><p class="card-text">{{ note.date }}</p></td>
        {% if note.favorite == True %}
            <td><p>Избранный</p></td>
        {% endif %}
        <td><p>Пользователь: {{ note.user }}</p></td>
    </tr>
</ul>
</div>
    {% if user.is_authenticated %}
        <div class="buttons">
        <a href="{% url 'note_edit' note_id=note.note_id %}" class="btn btn-outline-info">Edit</a>
        <a href="{% url 'note_delete' note_id=note.note_id%}" class="btn btn-outline-danger">Delete</a>
        <a href="{% url 'my_notes' %}" class="btn btn-outline-success" id="all_notes">All notes</a>
        </div>
    {% endif %}
    </div>
{% endblock %}
